<div class='jumbotron'>
  <h1>Blog This!</h1>
  <p>
    A simple app to express your feelings and respond to others.
  </p>
  <%= link_to 'Sign Up', new_user_registration_path,
    class: 'btn btn-primary' %>
  <%= link_to 'Sign In', new_user_session_path,
    class: 'btn btn-success' %>
  <% if !user_signed_in? %>
    <%= link_to 'Enter As Guest', posts_path,
      class: 'btn btn-warning' %>
  <% end %>
</div>
