<% content_for(:title, 'All Posts | Blog This!') %>

<h3>Posts:</h3>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= link_to post.title +
        ' (' + post.created_at.strftime('%m/%d/%y %I:%M %p') +
        ' - ' + post.user.email + ')',
          post_path(post) %>
    </li>
  <% end %>
</ul>
<br />
<%= link_to 'Add New Post', new_post_path,
  class: 'btn btn-primary' %>
